---
---

/*** bootstrap ***/
$screen-sm: 1035px; // collapse navbar sooner -> prevent creation a new row
$navbar-height: 50px;
@import 'bootstrap';


/*** other css ***/
// definitions
$body-color: #e8e8e8;
$card-color: #FFF;
$footer-color: #f5f5f5;
$navbar-padding: 35px;
$card-padding: 30px;
$footer-height: 50px;

// imported from _sass folder
@import
        'mixins',
        'base',
        'sticky-footer-navbar',
        'card',
        'navbar_logo'
;
