[submodule "wiki-files"]
	path = wiki-files
	url = https://github.com/PLRI/arden2bytecode.wiki.git
[submodule "update-site"]
	path = arden4eclipse
	url = https://github.com/PLRI/ardensyntax-eclipse-plugin-update-site.git
