body {
  background: $body-color;
  padding-top: $navbar-height
}

body > .container {
  padding-top: 15px;
  padding-bottom: 15px;
}

.footer > .container {
  text-align: right;
  @include vertical-align();
}
