body {
  background: $body-color;
  padding-top: $navbar-height;

  > .container {
    padding-bottom: 15px;
    padding-top: 15px;
  }
}

.footer > .container {
  @include vertical-align();
  text-align: right;
}
