.navbar-brand {
  height: $navbar-height;
  margin-top: 0; // adjust to move logo up/down
  padding: 7px 0; // adjust to make logo larger

  // don't edit this selector. these settings should keep the logo always fitting by default.
  > img {
    height: 100%;
    margin: 0 auto;
    max-height: 100%;
    max-width: 100%;
    -o-object-fit: contain; // Opera Support
    object-fit: contain;
    width: auto;
  }
}

.container-fluid {
  padding-left: $navbar-padding;
  padding-right: $navbar-padding;
}
