html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: $footer-height;
}

.footer {
  background-color: $footer-color;
  bottom: 0;
  height: $footer-height;
  position: absolute;
  width: 100%;
}
